# =====================
# Secrets
# =====================
.env

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual environments
# =====================
.venv/
venv/
ENV/

# =====================
# Build artifacts
# =====================
build/
dist/
*.egg-info/
.eggs/
wheels/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
Desktop.ini

# =====================
# Logs
# =====================
*.log
*.tmp
